div.appbox {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: +1000;
	background-color:#666666;
	width:170px;
	height:auto;
	
}

div.appboxM {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: +1000;
	background-color:#666666;
	width:auto;
	height:auto;
	padding:5px;
	
}

div.btitle {
	font-family: 'Ubuntu Condensed', sans-serif;
	color:white;
	font-size:25px;
	margin:10px;
	text-align:center;
}
div.toolsbox, div.btn-group {
	margin-top:25px;
	margin-bottom:25px;
	margin-left:8px;
	display:block;
	text-align:center;

}
div.toolsbox p {
	margin-top:10px;
	color:white;
	font-family: 'Homenaje', sans-serif;
	font-size:20px;
	display:block;
}
#code {
	display:block;

    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;
    
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
}
ul.dropdown-menu {
	text-align:left;
}
.activeline {background: #e8f2ff !important;}   
.cm-keyword {
	font-style: italic !important;
}
.hidden {
	display:none;
}
#downloadFile object {
	position:absolute;
	top:0px;
	left:4px;
}
.kbShow {
	margin-bottom:5px;
}